* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.loader {
    height: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1.2rem solid gray;
    border-right-color: rgb(93, 55, 197);
    animation: loader 1s ease infinite forwards;
}

@keyframes loader {
    100% {
        rotate: 360deg;
    }
}